header {
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 80% 20%;
}

header h1 {
    font-size: 2em;
    margin: 0;
    padding: 10px;
    color: #023047;
}

/*nav-menu*/
nav {
    background-color: #023047;
    margin: auto;
    position: fixed; 
    top: 0;
    left: 80%;
    width: 20%; 
    z-index: 1000;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 1em;
}

nav ul li a {
    color: white;
    display: block;
    padding: 10px;
    font-weight: 900;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #efefef;
    color: #023047;
}

.open li {
    display: block;
}

body {
    font-family: 'Kalam', cursive;
}

h2{
    text-align: center;
}

div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #023047;
    color: white;
    padding: 5px;
    text-align: center;
}

img {
    width: 20em;
}

section{
    display: grid;
	grid-template-columns: 1fr;
    text-align: center;
}

